body{
    background-color: ivory;
}
/* Here we are going to learn about the fonts */

h1{
    font-family:sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight:bold;
    font-style: italic;
}




