body{
    background-color: darkslateblue;
}

#box{
    width: 250px;
    height: 250px;
    background-color:antiquewhite;
    font-size: 13em;
    text-align: center;
    animation-name: slideleft;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes slideleft{
    from{transform: translateX(300%);}
}
@keyframes slideright{
    to{transform: translateX(300%);}
}
@keyframes slideup{
    from{transform: translateY(300%);}
}
@keyframes slidedown{
    to{transform: translateY(300%);}
}
@keyframes rotate{
    2%{transform: rotateX(360deg);}
    /* can have rotation of x y and z too  */
}
@keyframes grow{
    50%{transform: scale(2,2);}
}
@keyframes shrink{
    50%{transform: scale(0.5,0.5);}
}
@keyframes fade{
    100%{opacity: 0;}
}
@keyframes colorchange{
    0%{background-color: red;}
    20%{background-color: pink;}
    40%{background-color: wheat;}
    60%{background-color: blue;}
    80%{background-color: aqua;}
    100%{background-color: orange;}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}
}