h1{
    text-shadow: 1px 2px 5px orange;
    /* first is for horizontal offset second for the vertical offset and the thirs para is given for the blur effect */
}

#box1{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    box-shadow: 3px 3px 5px;
}